:root {
	--bs-purple-light: #eee5fc;
	--bs-purple-middle: #bb96f3;
	--bs-purple: #7a2ee6;
	--bs-purple-dark: #5916b9;
	--bs-filter-purple: brightness(0) saturate(1) invert(18%) sepia(72%) saturate(5384%)
		hue-rotate(263deg) brightness(94%) contrast(92%);
	--bs-filter-purple-middle: invert(68%) sepia(52%) saturate(1285%) hue-rotate(206deg)
		brightness(95%) contrast(100%);

	--bs-green-light: #c3f8e5;
	--bs-green-middle: #68eebd;
	--bs-green: #18d891;
	--bs-green-dark: #13aa72;
	--bs-filter-green: brightness(0) saturate(1) invert(63%) sepia(74%) saturate(493%)
		hue-rotate(104deg) brightness(96%) contrast(88%);

	--bs-blue-light: #e3ecfc;
	--bs-blue-middle: #188ed8;
	--bs-blue: #185ed8;
	--bs-blue-dark: #134aaa;

	--bs-red-light: #fbc5c5;
	--bs-red-middle: #ff6e6e;
	--bs-red: #f23636;
	--bs-red-dark: #e60f0f;
	--bs-filter-red: brightness(0) saturate(1) invert(46%) sepia(28%) saturate(5216%)
		hue-rotate(331deg) brightness(87%) contrast(121%);

	--bs-gray-light: #f8f8fc;
	--bs-gray-middle: #d8dbef;
	--bs-gray: #9ba5d7;
	--bs-gray-dark: #7781b1;
	--bs-filter-gray: brightness(0) saturate(1) invert(73%) sepia(14%) saturate(897%)
		hue-rotate(194deg) brightness(90%) contrast(86%);

	--bs-yellow-light: #ffe0bd;
	--bs-yellow-middle: #ffc88a;
	--bs-yellow: #ffb057;
	--bs-yellow-dark: #f08000;

	--bs-black-light: #afb6de;
	--bs-black-middle: #6774c1;

	--bs-black: #1a2040;

	--bs-light-blue-light: #e9fdff;
	--bs-light-blue-middle: #bffbff;
	--bs-light-blue: #18bed8;
	--bs-light-blue-dark: #0ea9df;
}

.black-to-green {
	color: var(--bs-green);
	filter: var(--bs-filter-green);
}

.black-to-purple {
	color: var(--bs-purple);
	filter: var(--bs-filter-purple);
}
.black-to-purple-middle {
	color: var(--bs-purple-middle);
	filter: var(--bs-filter-purple-middle);
}

.black-to-red {
	color: var(--bs-red);
	filter: var(--bs-filter-red);
}

.black-to-gray {
	color: var(--bs-gray);
	filter: var(--bs-filter-gray);
}

.black-to-white {
	color: #ffffff;
	filter: brightness(0) invert(1);
}

.bs-btn {
	border-radius: 1.375rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	box-shadow: none;
	width: auto !important;
	height: auto !important;
	text-decoration: none;
	cursor: pointer;
	align-self: center;
	position: relative;
	display: block;

	&.loading {
		border: 0.125rem solid hsla(0, 0%, 50%, 0.5) !important;
		cursor: default;

		&::after {
			content: "";
			position: absolute;
			padding: 0.25rem;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: hsla(0, 0%, 50%, 0.5);
			background-image: url("/src/assets/animations/loading.svg");
			background-repeat: no-repeat;
			background-size: 2rem;
			background-position: center center;
			border-radius: 1.375rem;
		}
	}

	&.green {
		background: hsl(158, 80%, 47%);
		color: hsl(0, 0%, 100%);
		border: 0.125rem solid hsl(158, 80%, 47%);

		&:hover {
			background: hsl(158, 80%, 41%);
			border-color: hsl(158, 80%, 41%);
		}

		&.empty {
			background: transparent;
			color: hsl(158, 80%, 47%);
			font-weight: bold;

			&:hover {
				background: hsl(158, 79%, 87%);
			}
		}
	}

	&.purple {
		background: hsl(265, 79%, 54%);
		color: hsl(0, 0%, 100%);
		border: 0.125rem solid hsl(265, 79%, 54%);

		&:hover {
			background: hsl(265, 80%, 41%);
			border-color: hsl(265, 80%, 41%);
		}

		&.empty {
			background: transparent;
			color: hsl(265, 79%, 54%);
			font-weight: bold;

			&:hover {
				background: hsl(265, 79%, 92%);
			}
		}
	}

	&.red {
		background: hsl(0, 88%, 58%);
		color: hsl(0, 0%, 100%);
		border: 0.125rem solid hsl(0, 88%, 58%);

		&:hover {
			background: hsl(0, 88%, 45%);
			border-color: hsl(0, 88%, 45%);
		}

		&.empty {
			background: transparent;
			color: hsl(0, 88%, 58%);
			font-weight: bold;

			&:hover {
				background: hsla(0, 88%, 58%, 10%);
			}
		}
	}

	&.disabled {
		// filter: grayscale(1);
		cursor: default;
	}
}

.component-group {
	.group-header {
		text-align: left;
		color: #9ba5d7;
		text-transform: uppercase;
		border-bottom: 1px solid var(--bs-purple-light);
		padding: 0.5rem;
	}

	.group-content {
		width: 100%;
		height: 100%;
		padding: 1rem 0;
	}
}

.bs-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: #ffffff;
	border: 1px solid var(--bs-purple-light);
	border-radius: 1rem;
	padding: 1.25rem;
	box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.16);
}

.bs-b {
	border: 1px solid var(--bs-purple-light);
}
.bs-bt {
	border-top: 1px solid var(--bs-purple-light);
}
.bs-br {
	border-right: 1px solid var(--bs-purple-light);
}
.bs-bb {
	border-bottom: 1px solid var(--bs-purple-light);
}
.bs-bl {
	border-left: 1px solid var(--bs-purple-light);
}

.dot {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 100%;
	background: black;
	margin: 0.25rem;
}

.bs-input {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: stretch;
	gap: 0.5rem;
	position: relative;

	label {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-size: 0.75rem;
		}
	}

	.input-image {
		position: absolute;
		right: 1rem;
		bottom: 0.75rem;

		img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	input,
	textarea {
		border: 1px solid hsl(264deg, 78%, 77%);
		border-radius: 0.5rem;
		padding: 0.75rem;

		&:focus,
		&:focus-visible,
		&:hover {
			border-color: hsl(265, 79%, 41%);
			outline-color: hsl(265, 79%, 41%);
		}

		&.error {
			border-color: red;
		}
	}

	label.bs-radio {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: flex-start;

		input {
			display: none;

			&:checked + i.radio {
				border-width: 0.25rem;
			}
		}

		i.radio {
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			background-color: #ffffff;
			border: 0.125rem solid #7a2ee6;
		}
	}
}

.bs-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;

	.form-group {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;

		h5 {
			font-weight: bold;
			padding-bottom: 0.5rem;
			border-bottom: 0.125rem solid var(--bs-purple-light);
		}
	}

	.form-buttons {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 0.5rem 0;
	}
}

.bs-tab {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: hsl(240, 40%, 98%);
	height: 100vh;
	min-width: 25rem;
	max-width: 30rem;
	overflow: auto;
	padding: 1rem;
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	box-shadow: -0.5rem 0 1.5rem hsla(231, 42%, 18%, 0.11);
}

.full-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: hsla(0, 0%, 0%, 0.45);
	top: 0;
	left: 0;
	z-index: 10;
}

.bs-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	text-align: center;
	user-select: none;
	border: 2px solid currentColor;
	background-color: currentColor;

	span {
		color: #ffffff;
	}

	&.empty {
		background-color: #ffffff;
		font-weight: bold;

		span {
			color: currentColor;
		}
	}
}

.disabled {
	opacity: 0.5 !important;
	cursor: not-allowed;

	&:hover {
		opacity: 0.5 !important;
		filter: none !important;
	}
}

.default-form {
	width: 100%;
	padding: 0 1rem;
}

.disabled-overlay {
	opacity: 0.5;
	position: relative;

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		inset: 0;
	}
}

.custom_n-icon_button {
	cursor: pointer;
	transition: color 0.25s ease-in-out;

	&:hover {
		color: var(--bs-purple);
	}

	&.custom_n-icon_button-disabled {
		cursor: not-allowed;
		color: var(--bs-gray) !important;

		&:hover {
			color: var(--bs-gray) !important;
		}
	}
}

// Animations for Transition

.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.rotate-left-enter-active,
.rotate-left-leave-active,
.rotate-right-enter-active,
.rotate-right-leave-active {
	transition: all 0.25s ease-out;
}

.slide-up-enter-from {
	opacity: 0;
	transform: translateY(30px);
}

.slide-up-leave-to {
	opacity: 0;
	transform: translateY(-30px);
}

.slide-down-enter-from {
	opacity: 0;
	transform: translateY(-30px);
}

.slide-down-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.slide-left-enter-from {
	opacity: 0;
	transform: translateX(30px);
}

.slide-left-leave-to {
	opacity: 0;
	transform: translateX(-30px);
}

.slide-right-enter-from {
	opacity: 0;
	transform: translateX(-30px);
}

.slide-right-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

.rotate-left-enter-from {
	opacity: 0;
	transform: rotateY(90deg);
}

.rotate-left-leave-to {
	opacity: 0;
	transform: rotateY(-90deg);
}

.rotate-right-enter-from {
	opacity: 0;
	transform: rotateY(-90deg);
}

.rotate-right-leave-to {
	opacity: 0;
	transform: rotateY(90deg);
}

//END Animations for Transition
