@import "@unocss/reset/normalize.css";

@font-face {
	font-family: "Open Sans";
	src: url("~/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.woff2")
			format("woff2-variations"),
		url("~/assets/fonts/OpenSans/static/OpenSans-Regular.ttf") format("ttf"); /* for older browsers */
	font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("~/assets/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.woff2")
			format("woff2-variations"),
		url("~/assets/fonts/OpenSans/static/OpenSans-Italic.ttf") format("ttf"); /* for older browsers */
	font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900, normal;
	font-style: italic;
	font-display: swap;
}

html {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	text-align: center;
	display: flex;
}

hr {
	color: #eee5fc;
	opacity: 1;
	margin: 0;
	background-color: currentColor;
	border: 0;
	height: 1px;
}

a {
	text-decoration: none;
	color: #1a2040;

	&:hover {
		color: #1a2040;
	}
}

ul,
ol {
	list-style: none;
	margin: unset;
	padding: unset;
}

body {
	background-color: #f8f8fc;
	overflow: hidden;
	margin: unset;
	color: #1a2040;
}

*,
::after,
::before {
	box-sizing: border-box;
}

p {
	margin: unset;
}

img {
	vertical-align: middle;
}
